<div class="description">
  <div class="description__wrapper " *ngFor ="let icon of icons" >
    <img class="description__wrapper--image" [src]= 'icon.image' alt="">
    <p class="description__wrapper--text">{{ icon.description }}</p>
  </div>
</div>
<div class="about">
  <p class="about__desc"> <span class="purple__text">PMP</span> is an application the <span class="purple__text">manage</span> all your<br><span class="purple__text">projects</span> and get the best access as a team<br>with <span class="purple__text">agile methodology</span>. It's simple<br>appplication to <span class="purple__text">grown</span> up the <span class="purple__text">productivity</span>.</p>
</div>


