<!-- <div class="not__container">
  <div class="not__container--info">
    <h1>404</h1>
    <p>It looks like youre lost <br> Thats a trouble? </p>
    <button mat-raised-button><a routerLink="home">Back home</a></button>
  </div>
  <div class="not__container--image">
    <img [src]="'assets/images/404.gif'" alt="">
  </div>
</div> -->
<div class="not__container">
  <div class="stars">
    <div class="not__container--info">
      <h1>404</h1>
      <p>LOOKS LIKE YOU LOST IN SPACE</p>
      <button mat-raised-button><a routerLink="">GO BACK HOME</a></button>
    </div>
    <div class="not__container--objects">
      <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
        <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
  </div>
</div>