<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ board?.body.name }} <span># {{ board?.body.id }} </span>
          </mat-card-title>
          <!-- <mat-card-subtitle>
            Initial Date: 11/22/20 || End Date: 11/22/20
          </mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <h3>Description:</h3>
          <p>
            {{ board?.body.desc }}
          </p>
          <p>Number of cards created in trello : 34</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Project status </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-12 col-lg-6">
      <h3 class="title__table">Members associated with this board</h3>
      <table class="tables">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of user?.body">
            <td>{{ users?.username }}</td>
            <td>{{ users?.fullName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="col-12 col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div> -->
  </div>
</div>
<ngx-spinner color="#4447E2" type="ball-scale-ripple-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
